html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #16191d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}

main {
    box-sizing: border-box;
    margin-bottom: 100px;
    min-width: 360px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container-for-profile {
    margin: 0 auto;
}

.img-primary {
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    border: 1px solid #28282b33;
    justify-content: end;
    height: 300px;
    max-width: 1000px;
    background: url('images/kurast-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
    margin-bottom: -80px;
}

.img-forspace {
    height: 50px;
}

.logo-container {
    margin: 0 auto;
    align-items: center;
    background-color: #16191d;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1000;
}

.logo-img {
    max-width: 30px;
    height: auto;
    margin: 0 10px;
}

.dark-svg {
    position: relative;
    top: 10px;
    right: 20px;
}

nav {
    display: flex;
    height: 50px;
    list-style: none;
    color: #F1F3F5;
    z-index: 99;
}

.main-nav {
    gap: 5px;
    font-size: 21px;
    align-items: center;
    margin-right: 20px;
}

.main-nav a {
    font-weight: 600;
    text-decoration: none;
    color: #F1F3F5;
}

h1,
h2 {
    color: #F1F3F5;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #F1F3F5;
    text-align: center;
    width: 100%;
}

img.profile-img {
    display: flex;
    border: 4px solid #F1F3F5;
    max-width: 150px;
    margin: auto;
}

.profile-img {
    border-radius: 100px;
}

.nav-link {
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
    color: #F1F3F5;
    background: none;
    border: none;
    font-size: 21px;
    font-weight: 200;
}

.nav-link.active {
    color: #e5981b !important;
}

.nav-link:hover {
    background-color: rgb(0, 0, 0);
    transition: background-color .3s ease;
}

.nav-link.contact-btn {
    border: 1px #58585880 solid;
    border-radius: 5px;
}

.links {
    text-decoration: none;
    color: #e5991b;
}

.links:hover {
    border-bottom: 2px solid #e5991b;
}

.job-title {
    font-size: 16px;
    margin: 0;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.title-skills-container {
    height: 40px;
    align-items: center;
    display: flex;
    border-radius: 5px 5px 0 0;
    background-color: #202123;
    width: 100%;
    margin-bottom: 10px;
}

.skills-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-inline: 10px;

}

.skills li,
.main-cert li,
.copyright-text {
    font-size: 16px;
}

.name-text {
    font-size: 42px;
    margin-top: 20px;
}

.sub-details {
    color: #868E96;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.sub-text,
.simple-text {
    text-align: center;
    max-width: 420px;
    margin: 0;
    font-size: 16px;
}

.sub-text {
    margin-bottom: 10px;
}

.simple-text {
    margin: 40px auto;
    color: #F1F3F5;
}

.container {
    color: #F1F3F5;
    z-index: 1;
    text-align: center;
    padding: 40px 0px;
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
}

.icon {
    fill: #e74c3c;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    fill: #c0392b;
}

.container-cert,
.container.skills {
    margin-inline: 10px;
    line-height: 2;
    color: #F1F3F5;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    max-width: 1000px;
}

.container-skills.skills,
.container-experience.experience {
    border-radius: 5px;

}

.container-skills,
.container-experience {
    background-color: #000000;
    display: flex;
    margin: 0 auto;
    color: #F1F3F5;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.main-skills,
.main-experience {
    max-width: 1000px;
    margin-bottom: 10px;
    justify-content: inline-start;
    flex-wrap: wrap;
    flex: 1;
}

.main-experience {
    margin-bottom: 0px;
}

.main-contain-skills {
    padding-right: 20px;
}

.skills-contain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    margin-inline: 10px;
    gap: 5px
}

.highlight-skills {
    cursor: pointer;
    white-space: nowrap;
    color: #F1F3F5;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 175px;
    width: 175px;
    padding: 5px;
    height: 20px;
    flex: 1;
    border-radius: 3px;
    transition: transform 0.1s ease;
}

.highlight-skills:hover {
    transform: scale3d(1.03, 1, 1);
}

.exp-contain {
    display: flex;
}

.exp-years {
    display: flex;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12px;
    flex-direction: column;
    font-weight: 200;
    align-items: end;
    max-width: 20%;

}

.exp-company {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.years {
    display: flex;
    flex: column;
    margin: auto 20px;
    justify-content: center;
}

.company-brand {
    font-weight: 500;
    color: rgb(148, 147, 147);
}

.company-role {
    font-weight: 500;
}

.company-more-details {
    font-weight: 400;
    color: rgb(148, 147, 147);
    margin: 0;
    margin-top: 5px;
}

.company-more-details-sub {
    font-weight: 400;
    color: rgb(148, 147, 147);
    margin-top: 5px;
    margin-bottom: 20px;
    margin-inline: 20px;
}

.company-detail {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    justify-content: center;
}

.company-detail-sub {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    justify-content: start;
}

.company-detail-inner {
    display: flex;
    flex-direction: column;
}

.arrow-right {
    display: flex;
    margin: 5px 10px;
    justify-content: center;
    align-items: center;
}

.exp-line {
    display: flex;
    flex-direction: column;
    background-color: #f1f3f54b;
    width: 1px;
}

.line {
    display: flex;
    width: 5px;
    height: 10px;
    margin: auto;
    border-radius: 0px;
    margin-left: -2px;
    background-color: #e5981b;
    justify-content: center;
    align-items: center;
}

.text-credentails {
    font-weight: 400;
    margin-inline: 5px;
}

.main-cert {
    flex: 1;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-title {
    letter-spacing: 1.2px;
    margin-inline: 10px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.skills-title-other {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.space-cert {
    margin-top: -10px;
}

.contain-all-works {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
}

.container-work {
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 640px;
    top: 70px;
    border-radius: 5px;
    max-width: 1000px;
}

.svg-worklinks {
    align-items: center;
}

.for-works-title {
    align-items: center;
}

.underline-works {
    border-bottom: 1px solid #e5981b;
}

.first-works {
    top: 70px;
}

.second-works {
    top: 105px;
}

.third-works {
    top: 139px;
}

.fourth-works {
    top: 173px;
}

.fifth-works {
    top: 206px;
}

.sixth-works-hidden {
    opacity: 0;
}

.container-app {
    width: 100%;
    max-width: 1000px;
    height: 1000px;
}

.title-work-container {
    height: 45px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    background-color: #202123;
    width: 100%;
}

.work-mini {
    background-color: #777f8a;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
}

.work-mini-menu-2 {
    align-items: center;
    background-color: #00000096;
    display: flex;
    height: 25px;
    width: 100%;
}

.work-mini-menu-nav {
    display: flex;
    align-items: center;
    border: 1px solid #202123d8;
    border-radius: 3px;
    background-color: #d7dae9;
    width: 100%;
    margin: 8px;
}

.nav-url-text {
    color: #F1F3F5;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 200;
}

.padlock {
    display: flex;
    justify-content: center;
    width: 25px;
    padding-left: 3px;
}

.work-body {
    border-radius: 0px 0px 5px 5px;
    background-color: black;
    width: 100%;
    display: flex;
    flex: 1;
}

.work-body-1 {
    border-radius: 0px 0px 0px 5px;
    display: flex;
}

.work-body-2 {
    border-radius: 0px 0px 5px 0px;
    background-color: #0d0e12;
    width: 100%;
}

.body-image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0px 0px 5px 5px;

}

.work-body-menu-logo-1 {
    border-radius: 0px 0px 0px 5px;
    background-color: #000000;
    border-right: 1px solid #202123;
    width: 20%;
    min-width: 20px;
}


.work-mini-menu-logo-1 {
    background-color: #000000;
    border-right: 1px solid #202123;
    border-bottom: 1px solid #202123;
    width: 20%;
    min-width: 20px;
}

.project-arch {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 25px;
    text-align: right;
    font-size: 13px;
    gap: 10px;
}

.project-arch-title {
    border-bottom: 1px solid #e5981b;
    align-items: center;
}

.arrowproj {
    margin-top: 10px;
}

.copyright-text {
    margin-top: 8px;
}

.svg-footer {
    display: flex;
    justify-content: center;
}

.svg-whatsapp,
.svg-github,
.svg-facebook,
.logo-img {
    padding: 8px;
    border-radius: 10px;
}

.svg-whatsapp:hover,
.svg-github:hover,
.svg-facebook:hover,
.logo-img:hover {
    background-color: #010101;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    font-size: 14px;
    list-style-type: none;
}

.legend-title {
    margin-left: 0;
}

.dropdown {
    width: 100px;
    font-size: 14px;
    position: relative;
    display: inline-block;

}

.dropdown-select {
    padding: 6px 10px;
    border: 1px #58585880 solid;
    background-color: #202123;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px #58585880 solid;
    border-radius: 4px;
    z-index: 1;

}

.dropdown-option {
    padding: 8px;
    cursor: pointer;
}

.foot-contain {
    margin-top: 20px;
    border-radius: 0px 0px 5px 5px;
    height: 20px;
    display: flex;
    width: 100%;
    background-color: #202123;
}

.contain-credentials {
    border-left: 1px solid #e5981b57;
    padding-inline: 20px;
    margin-inline: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: -10px;
}

.legend-icon,
.bullet-icon {
    align-items: center;
    display: inline-block;
    margin-right: 3px;
}

.legend-icon {
    margin: 5px 0;
    width: 10px;
    height: 10px;
}

.bullet-icon {
    display: none;
    margin-left: 5px;
    margin-right: 8px;
    width: 6px;
    height: 10px;
    box-shadow: -3px 0px 0px 0px rgb(204, 204, 204);
}

.white {
    display: none;
}

.superior {
    background-color: #942626;
}

.advanced {
    background-color: #1a4e34;
}

.familiar {
    background-color: #0e388d;
}

.learning {
    background-color: #9e7f02;
}

.superior.superior-i {
    background-color: #942626;
    order: 0;
}

.advanced.advanced-i {
    background-color: #1a4e34;
    order: 0;
}

.familiar.familiar-i {
    background-color: #0e388d;
    order: 0;
}

.learning.learning-i {
    background-color: #9e7f02;
    order: 0;
}


.separator,
.separator-footer {
    max-width: 1000px;
    margin: 25px auto;
    padding: .5px;
}

.separator-footer {
    display: none;
    margin: 40px auto;
}

.container-name {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-right: -12px;
}

.sub-brief,
.sub-link,
.sub-cake,
.sub-date {
    display: flex;
    gap: 5px;
}

img {
    max-width: 400px;
}

.main-cert.cert-item li:hover {
    cursor: pointer;
}

.image-preview {
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
}

.image-preview {
    opacity: 0;
    transition: left 0.3s, opacity 0.3s ease-out;
}

.show-preview {
    opacity: 1;
}

.darkmode {
    display: flex;
    padding-inline: 3px;
    border-radius: 10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 18px;
    background-color: #F1F3F5;
}

.dark-button-left {
    margin-inline: 1px;
    border-radius: 100px;
    flex: 1;
    height: 10px;
    width: 10px;
    background-color: #16191d;
    transition: background-color 0.2s ease;
}

.dark-button-right {
    margin-inline: 1px;
    border-radius: 100px;
    flex: 1;
    height: 10px;
    width: 10px;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.2s ease;
}

/*FOR WORK PAGE*/
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container-adddetails {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 20px auto;
}

.img-work1,
.img-work2,
.img-work3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 1000px;
    height: auto;
    margin: auto;
}

.worksitename-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: end;
}

.workx-container {
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.work-x {
    object-fit: cover;
    max-width: 600px;
    height: auto;
}

.work-y {
    object-fit: cover;
    max-width: 250px;
    height: 350px;
}

.work-z {
    object-fit: cover;
    max-width: 600px;
    height: 400px;
    display: none;
}

.img-work1 {
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
    margin-top: 0;
}

.img-work2 {
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
}

.img-work3 {
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
}

.work-sitename {
    margin: 10px;
    border-radius: 5px;
    color: #e5991b;
    font-size: 13px;
    letter-spacing: .3px;
    text-transform: uppercase;
    position: relative;
    padding: 10px 12px;
    background-color: black;
}

.exp-tabs {
    display: flex;
    background-color: #00000080;
    margin-inline: 10px;
    margin-bottom: 20px;
    gap: 10px;
}

.tab {
    font-size: 14px;
    line-height: .8;
    border-radius: 5px;
    border: 1px #58585880 solid;
    padding: 10px;
    cursor: pointer;
}

.tab.active {
    background-color: #202123;
}

#tab2 {
    display: none;
}

.tooltip {
    font-size: 14px;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #585858;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    min-width: 250px;
    transform: translateX(-50%);
    opacity: 0;
    white-space: normal;
    transition: opacity 0.3s ease;
    word-wrap: break-word !important;
}

.highlight-skills:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 810px) {

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 26.5px;
    }
}

@media only screen and (max-width: 880px) {
    .img-work1 {
        height: auto;
    }

    .work-z {
        display: flex;
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }

    .work-x {
        display: none;
    }

    .work-y {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container.skills {
        flex-direction: row;
        width: 100%;
    }


    img.profile-img {
        border: 4px solid #F1F3F5;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 623px) {
    .main-nav {
        display: none;
    }

    .exp-years {
        align-items: center;
    }

    .years {
        transform: rotate(-90deg);
    }

    .skills-bottom {
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: 440px) {

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 25px;
    }

}

.container {
    animation: transitionIn .75s;
}

img.profile-img,
.img-primary,
.tab-content {
    animation: imgtrans 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }

}

@keyframes imgtrans {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}


.transition {
    transition: none;
}

/* DARK MODE STYLES */
[data-theme="dark"] body {
    background-color: #ebebeb;
    color: #030507;
}

[data-theme="dark"] .logo-container {
    background-color: #ebebeb;
    color: #16191d;
}

[data-theme="dark"] .nav-link {
    color: #16191d;
}

[data-theme="dark"] .name-text {
    color: #16191d;
}

[data-theme="dark"] .sub-text {
    color: #16191d;
}

[data-theme="dark"] .job-title {
    color: #16191d;
}

[data-theme="dark"] .sub-details {
    color: #16191d;
}

[data-theme="dark"] .sub-details path {
    fill: #16191d;
}

[data-theme="dark"] .dark-svg path {
    fill: #16191d;
}

[data-theme="dark"] .skills {
    color: #030507;
}

[data-theme="dark"] h2 {
    color: #16191d;
}

[data-theme="dark"] li {
    color: #16191d;
}

[data-theme="dark"] li span.bullet-icon {
    background-color: #16191d;
    box-shadow: -3px 0px 0px 0px rgb(71, 71, 71);
}

[data-theme="dark"] .svg-footer {
    color: #16191d;
}

[data-theme="dark"] .svg-footer path {
    fill: #16191d;
}

[data-theme="dark"] .copyright-text {
    color: #16191d;
}

[data-theme="dark"] .dark-button-left {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}

[data-theme="dark"] .dark-button-right {
    background-color: #F1F3F5;
    transition: background-color 0.2s ease;
}

[data-theme="dark"] .darkmode {
    background-color: #16191d;
    transition: background-color 0.2s ease;
}