html {
    scroll-behavior: smooth;
}

body {
    background-color: #16191d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

img.profile-img {
    border: 4px solid #F1F3F5;
    width: 150px;
    margin: auto;
}

h1,
h2 {
    color: #F1F3F5;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    padding-top: 10px;
    height: 40px;
    list-style: none;
    background-color: #16191d;
    color: #F1F3F5;
}

main {
    min-width: 350px;
    padding: 0 20px;
    flex: 1;
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #F1F3F5;
    background-color: #16191d;
    text-align: center;
    width: 100%;
}

.logo {
    position: absolute;
    left: 12px;
    top: 8px
}

.logo-img {
    width: 25px;
    border: none;
}

.main-nav {
    display: flex;
    font-size: 21px;
    align-items: end;
    margin-bottom: -3px;

}

.main-nav a {
    line-height: 2;
    font-weight: 600;
    text-decoration: none;
    color: #F1F3F5;
    padding: 5px 12px;
}

.nav-link {
    border-radius: 12px 12px 0px 0px;
    color: #F1F3F5;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
}

.nav-link.active {
    border-radius: 12px 12px 0px 0px;
    background-color: #010101;
}

.nav-link:hover {
    opacity: 0.5;
}

.links {
    text-decoration: none;
    color: #F1F3F5;
}

.links:hover {
    border-bottom: 2px solid #F1F3F5;
}

.job-title {
    font-size: 16px;
    margin: 0;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.highlight-skills {
    cursor: pointer;
    color: #F1F3F5;
    line-height: 1.8;
    padding: 0 5px;
    border-radius: 3px;
}

.skills li,
.main-cert li,
.copyright-text {
    font-size: 16px;
}

.name-text {
    font-size: 39px;
    margin-top: 20px;
}

.sub-details {
    color: #868E96;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.sub-text {
    margin: 0;
    font-size: 16px;
}

.container {
    color: #F1F3F5;
    z-index: 1;
    text-align: center;
    margin-top: -150px;
    padding: 40px 0;
    display: flex;
    max-width: 900px;
    background-color: #16191d;
}

.container-skills {
    padding-bottom: 20px;
    color: #F1F3F5;
    align-items: center;
    display: inline-block;
    max-width: 900px;
    background-color: #16191d;
}

.icon {
    fill: #e74c3c;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    fill: #c0392b;
}

.img-primary {
    display: flex;
    max-width: 900px;
    min-height: 300px;
    background-color: black;
}

.profile-img {
    border-radius: 100px;
}

.container-cert,
.container.skills {
    line-height: 2;
    color: #F1F3F5;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    max-width: 900px;
    background-color: #16191d;
}

.skills {
    margin-left: 0;
    margin-right: 0;
}

.skills li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
}

.left-column,
.main-skills,
.main-cert,
.right-column {
    flex: 1;
    padding: 20px;
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-title {
    font-size: 21px;
    margin-bottom: 10px;
}

.copyright-text {
    margin-top: 8px;
}

.svg-footer {
    display: flex;
    justify-content: center;
}

.svg-whatsapp,
.svg-github,
.svg-facebook,
.logo-img {
    padding: 8px;
    border-radius: 10px;
    -webkit-transition: background-color 0.3s ease;
}

.svg-whatsapp:hover,
.svg-github:hover,
.svg-facebook:hover,
.logo-img:hover {
    background-color: rgba(165, 165, 165, 0.2);
}

.legend {
    padding-bottom: 10px;
    margin-left: 10px;
}

.legend-icon,
.bullet-icon {
    align-items: center;
    margin-left: 10px;
    display: inline-block;
    margin-right: 3px;
}

.legend-icon {
    width: 10px;
    height: 10px;
}

.bullet-icon {
    margin-left: 5px;
    margin-right: 8px;
    width: 6px;
    height: 10px;
    box-shadow: -3px 0px 0px 0px rgb(204, 204, 204);
}

.white {
    background-color: #F1F3F5;
}

.superior {
    background-color: #942626;
}

.advanced {
    background-color: #1a4e34;
}

.intermediate {
    background-color: #0e388d;
}

.learning {
    background-color: #9e7f02;
}

.separator,
.separator-footer {
    margin: 5px 0px;
    padding: .5px;
    background-color: #2b2a33;
}

.separator-footer {
    margin-top: 40px;
}

.container-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-right: -12px;
}

.sub-brief,
.sub-link,
.sub-cake,
.sub-date {
    display: flex;
    gap: 5px;
}

img {
    max-width: 400px;
}

.main-cert.cert-item li:hover {
    cursor: pointer;
}

.image-preview {
    object-fit: contain;
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.image-preview {
    opacity: 0;
    transition: top 0.3s, left 0.3s, opacity 0.3s ease-out;
}

.show-preview {
    opacity: 1;
}

@media only screen and (max-width: 810px) {
    .sub-text {
        margin: 0;
    }

    .main-nav {
        font-size: 20px;
    }

    .main-nav a {
        padding: 5px 10px;
    }

    .copyright-text {
        font-size: 16px;
    }

    .skills li,
    .main-cert li,
    .copyright-text {
        font-size: 15px;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .contact-container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: -10px;
    }

    .container.skills {
        font-size: 18px;
    }

    .main-skills {
        flex: 1;
        padding: 15px 10px;
    }

    .main-cert {
        padding: 15px 10px;
    }

    .legend {
        margin-left: 0px;
    }

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 26.5px;
    }
}

@media only screen and (max-width: 768px) {
    .name-text {
        font-size: 36px;
    }

    .main-nav {
        font-size: 18px;
    }

    .main-nav a {
        padding: 5px 9px;
    }

    .sub-text,
    .job-title {
        letter-spacing: -.8px;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        flex-direction: column;
        margin-top: -80px;
    }

    .container.skills {
        flex-direction: row;
        width: 100%;
    }

    .left-skills,
    .right-skills {
        padding: 10px;
        margin: 0;
    }

    img.profile-img {
        border: 4px solid #F1F3F5;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 440px) {
    .main-nav {
        font-size: 16px;
    }

    .main-nav a {
        padding: 5px 8px;
    }

    .sub-text,
    .job-title {
        letter-spacing: -.31px;
    }

    .skills li,
    .main-cert li,
    .copyright-text {
        font-size: 14px;
    }

    .sub-details {
        font-size: 12px;
    }

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 25px;
    }

}