html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #16191d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}

main {
    box-sizing: border-box;
    min-width: 360px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container-for-profile {
    margin: 0 auto;
}

.img-primary {
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    border: .5px solid #28282b;
    justify-content: end;
    height: 300px;
    max-width: 900px;
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
    margin-bottom: -80px;
}

.img-forspace {
    height: 60px;
}

.logo-container {
    margin: 0 auto;
    padding-top: 5px;
    background-color: #16191d;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    z-index: 1000;
}

.logo-img {
    max-width: 30px;
    height: auto;
    margin: 0 10px;
}

.dark-svg {
    position: relative;
    top: 10px;
    right: 20px;
}

nav {
    display: flex;
    height: 50px;
    list-style: none;
    color: #F1F3F5;
    z-index: 99;
}

.main-nav {
    font-size: 21px;
    align-items: center;
    margin-right: 30px;
}

.main-nav a {
    font-weight: 600;
    text-decoration: none;
    color: #F1F3F5;
    padding: 8px 12px;
}

h1,
h2 {
    color: #F1F3F5;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #F1F3F5;
    text-align: center;
    width: 100%;
}

img.profile-img {
    display: flex;
    border: 4px solid #F1F3F5;
    max-width: 150px;
    margin: auto;
}

.profile-img {
    border-radius: 100px;
}

.nav-link {
    border-radius: 12px 12px 12px 12px;
    padding: 0px;
    color: #F1F3F5;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
}

.nav-link.active:before {
    color: #e5991b;
    content: "{ ";
}

.nav-link.active:after {
    color: #e5991b;
    content: " }";
}

.nav-link:hover {
    border-radius: 12px 12px 12px 12px;
    background-color: #010101;
}

.links {
    text-decoration: none;
    color: #e5991b;
}

.links:hover {
    border-bottom: 2px solid #e5991b;
}

.job-title {
    font-size: 16px;
    margin: 0;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.title-skills-container {
    height: 40px;
    align-items: center;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    background-color: #202123;
    margin-bottom: 10px;
    width: 100%;
}

.skills li,
.main-cert li,
.copyright-text {
    font-size: 16px;
}

.name-text {
    font-size: 42px;
    margin-top: 20px;
}

.sub-details {
    color: #868E96;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.sub-text,
.simple-text {
    margin: 0;
    font-size: 16px;
}

.simple-text {
    margin: 40px auto;
    color: #F1F3F5;
}

.container {
    color: #F1F3F5;
    z-index: 1;
    text-align: center;
    padding: 40px 0px;
    margin: 0 auto;
    display: flex;
    max-width: 900px;
}

.container-skills {
    background-color: #000000;
    display: flex;
    margin: 0 auto;
    color: #F1F3F5;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.icon {
    fill: #e74c3c;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    fill: #c0392b;
}

.container-cert,
.container.skills {
    margin: 0 auto;
    line-height: 2;
    color: #F1F3F5;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    max-width: 900px;
}

.skills li {
    display: block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
}

.container-skills.skills {
    border-radius: 5px;
  }

.main-skills {
    max-width: 900px;
    margin-bottom: 10px;
    justify-content: inline-start;
    flex-wrap: wrap;
    flex: 1;
}

.main-contain-skills {
    padding-right: 20px;
}

.contain-skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    margin-inline: 10px;
    gap: 5px
}

.highlight-skills {
    cursor: pointer;
    white-space: nowrap;
    color: #F1F3F5;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 175px;
    width: auto;
    padding: 5px;
    height: 20px;
    flex: 1;
    border-radius: 3px;
}

.main-cert {
    flex: 1;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-title {
    margin-inline: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.copyright-text {
    margin-top: 8px;
}

.svg-footer {
    display: flex;
    justify-content: center;
}

.svg-whatsapp,
.svg-github,
.svg-facebook,
.logo-img {
    padding: 8px;
    border-radius: 10px;
    -webkit-transition: background-color 0.3s ease;
}

.svg-whatsapp:hover,
.svg-github:hover,
.svg-facebook:hover,
.logo-img:hover {
    background-color: #010101;
}

.legend {
    margin-inline: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.foot-contain {
    margin-top: 10px;
    border-radius: 0px 0px 5px 5px;
    height: 20px;
    display: flex;
    width: 100%;
    background-color: #202123;
}

.legend-icon,
.bullet-icon {
    align-items: center;
    display: inline-block;
    margin-right: 3px;
}

.legend-icon {
    width: 10px;
    height: 10px;
}

.bullet-icon {
    margin-left: 5px;
    margin-right: 8px;
    width: 6px;
    height: 10px;
    box-shadow: -3px 0px 0px 0px rgb(204, 204, 204);
}

.white {
    background-color: #F1F3F5;
}

.superior {
    background-color: #942626;
}

.advanced {
    background-color: #1a4e34;
}

.intermediate {
    background-color: #0e388d;
}

.learning {
    background-color: #9e7f02;
}

.separator,
.separator-footer {
    max-width: 900px;
    margin: 20px auto;
    padding: .5px;
    background-color: #2b2a33;
}

.separator-footer {
    display: none;
    margin: 40px auto;
}

.container-name {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-right: -12px;
}

.sub-brief,
.sub-link,
.sub-cake,
.sub-date {
    display: flex;
    gap: 5px;
}

img {
    max-width: 400px;
}

.main-cert.cert-item li:hover {
    cursor: pointer;
}

.image-preview {
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
}

.image-preview {
    opacity: 0;
    transition: left 0.3s, opacity 0.3s ease-out;
}

.show-preview {
    opacity: 1;
}

.darkmode {
    display: flex;
    padding-inline: 3px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 30px; /* Adjust the width as needed */
    height: 18px; /* Adjust the height as needed */
    background-color: #F1F3F5; /* White background color */
}

.dark-button-left {
    margin-inline: 1px;
    border-radius: 100px;
    flex: 1;
    height: 10px;
    width: 10px;
    background-color: #16191d;
    transition: background-color 0.2s ease;
}

.dark-button-right {
    margin-inline: 1px;
    border-radius: 100px;
    flex: 1;
    height: 10px;
    width: 10px;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.2s ease;
}

/*FOR WORK PAGE*/
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* Center the container */
    flex: 1;
}

.container-adddetails {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 20px auto;
}

.img-work1,
.img-work2,
.img-work3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 900px;
    height: auto;
    margin: auto;
}

.worksitename-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: end;
}

.workx-container {
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.work-x {
    object-fit: cover;
    max-width: 600px;
    height: auto;
}

.work-y {
    object-fit: cover;
    max-width: 250px;
    height: 350px;
}

.work-z {
    object-fit: cover;
    max-width: 600px;
    height: 400px;
    display: none;
}

.img-work1 {
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
    margin-top: 0;
}

.img-work2 {
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
}

.img-work3 {
    background: url('images/bg-cover.png') no-repeat center center;
    background-size: cover;
    background-color: black;
}

.work-sitename {
    margin: 10px;
    border-radius: 5px;
    color: #e5991b;
    font-size: 13px;
    letter-spacing: .3px;
    text-transform: uppercase;
    position: relative;
    padding: 10px 12px;
    background-color: black;
}


@media only screen and (max-width: 810px) {
    .sub-text {
        margin: 0;
    }

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 26.5px;
    }
}

@media only screen and (max-width: 880px) {
    .img-work1 {
        height: auto;
    }

    .work-z {
        display: flex;
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }

    .work-x {
        display: none;
    }

    .work-y {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container.skills {
        flex-direction: row;
        width: 100%;
    }


    img.profile-img {
        border: 4px solid #F1F3F5;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 523px) {
    .main-nav {
        display: none;
    }
}

@media only screen and (max-width: 440px) {

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 25px;
    }

}

.container {
    animation: transitionIn .75s;
}

img.profile-img,
.img-primary {
    animation: imgtrans 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }

}

@keyframes imgtrans {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}


.transition {
    transition: none;
}

/* Your dark mode styles go here */
[data-theme="dark"] body {
    background-color: #ebebeb;
    color: #030507;
}

[data-theme="dark"] .logo-container {
    background-color: #ebebeb;
    color: #16191d;
}

[data-theme="dark"] .nav-link {
    color: #16191d;
}

[data-theme="dark"] .name-text {
    color: #16191d;
}

[data-theme="dark"] .sub-text {
    color: #16191d;
}

[data-theme="dark"] .job-title {
    color: #16191d;
}

[data-theme="dark"] .sub-details {
    color: #16191d;
}

[data-theme="dark"] .sub-details path {
    fill: #16191d;
}

[data-theme="dark"] .dark-svg path {
    fill: #16191d;
}

[data-theme="dark"] .skills {
    color: #030507;
}

[data-theme="dark"] h2 {
    color: #16191d;
}

[data-theme="dark"] li {
    color: #16191d;
}

[data-theme="dark"] li span.bullet-icon {
    background-color: #16191d;
    box-shadow: -3px 0px 0px 0px rgb(71, 71, 71);
}

[data-theme="dark"] .svg-footer {
    color: #16191d;
}

[data-theme="dark"] .svg-footer path {
    fill: #16191d;
}

[data-theme="dark"] .copyright-text {
    color: #16191d;
}

[data-theme="dark"] .dark-button-left {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}

[data-theme="dark"] .dark-button-right {
    background-color: #F1F3F5;
    transition: background-color 0.2s ease;
}

[data-theme="dark"] .darkmode {
    background-color: #16191d;
    transition: background-color 0.2s ease;
}