html {
    scroll-behavior: smooth;
}

body {
    background-color: #16191d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

nav {
    padding-top: 10px;
    height: 40px;
    display: flex;
    gap: 10px;
    list-style: none;
    background-color: #16191d;
    color: #F1F3F5;
    justify-content: center;
}

.home {
    border-radius: 12px 12px 0px 0px;
    padding: 0px 20px;
    background-color: #010101;
}

.main-nav {
    font-size: 21px;
}

.main-nav a {
    font-weight: 600;
    text-decoration: none;
    color: #F1F3F5;
}

.home a {
    color: #F1F3F5;
    font-weight: 600;
}

main {
    min-width: 350px;
    padding: 0 20px;
    flex: 1;
}

.job-title {
    font-size: 16px;
    margin: 0;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.highlight-skills {
    cursor: pointer;
    color: #F1F3F5;
    line-height: 1.8;
    padding: 0 5px;
    border-radius: 3px;
}

h1,
h2 {
    color: #F1F3F5;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skills li,
.main-cert li,
.copyright-text {
    font-size: 16px;
}

.name-text {
    font-size: 39px;
    margin-top: 20px;
}

.sub-details {
    color: #868E96;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.sub-text {
    margin: 0;
    font-size: 16px;
}

.container {
    color: #F1F3F5;
    z-index: 1;
    text-align: center;
    margin-top: -150px;
    padding: 40px 0;
    display: flex;
    max-width: 900px;
    background-color: #16191d;
}

.container-skills {
    padding-bottom: 20px;
    color: #F1F3F5;
    align-items: center;
    display: inline-block;
    max-width: 900px;
    background-color: #16191d;
}

.icon {
    fill: #e74c3c;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    fill: #c0392b;
}

.img-primary {
    display: flex;
    max-width: 900px;
    min-height: 300px;
    background-color: black;
}

.profile-img {
    border-radius: 100px;
}

img {
    border: 4px solid #F1F3F5;
    max-width: 150px;
    display: block;
    margin: auto;
}

.container-cert,
.container.skills {
    line-height: 2;
    color: #F1F3F5;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    max-width: 900px;
    background-color: #16191d;
}

.skills {
    margin-left: 0;
    margin-right: 0;
}

.skills li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
}

.left-column,
.main-skills,
.main-cert,
.right-column {
    flex: 1;
    padding: 20px;
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rocket-btn {
    display: inline-block;
    display: none;
    padding: 8px 24px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: #ff6666;
    color: #F1F3F5;
    border-radius: .25rem;
    position: relative;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #dd5454;
    transition: background-color 0.5s;
    margin-right: auto;
}

.rocket-btn:hover {
    background-color: #dd5454;
}

.skills-title {
    font-size: 21px;
    margin-bottom: 10px;
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #F1F3F5;
    background-color: #16191d;
    text-align: center;
    width: 100%;
}

.copyright-text {
    margin-top: 8px;
}

.svg-footer {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.legend {
    padding-bottom: 10px;
    margin-left: 10px;
}

.legend-icon,
.bullet-icon {
    align-items: center;
    margin-left: 10px;
    display: inline-block;
    margin-right: 3px;
}

.legend-icon {
    width: 10px;
    height: 10px;
}

.bullet-icon {
    margin-left: 5px;
    margin-right: 8px;
    width: 6px;
    height: 10px;
    box-shadow: -3px 0px 0px 0px rgb(204, 204, 204);
}

.white {
    background-color: #F1F3F5;
}

.superior {
    background-color: #942626;
}

.advanced {
    background-color: #1a4e34;
}

.intermediate {
    background-color: #0e388d;
}

.learning {
    background-color: #9e7f02;
}

.separator,
.separator-footer {
    margin: 5px 0px;
    padding: .5px;
    background-color: #2b2a33;
}

.separator-footer {
    margin-top: 40px;
}

.container-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-right: -12px;
}

.sub-brief,
.sub-link,
.sub-cake,
.sub-date {
    display: flex;
    gap: 5px;
}

.brief,
.fireworks,
.calendar,
.link {
    /* */
}

@media only screen and (max-width: 810px) {
    body {}

    .sub-text {
        margin: 0;
    }

    .copyright-text {
        font-size: 16px;
    }

    .skills li,
    .main-cert li,
    .copyright-text {
        font-size: 15px;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .contact-container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: -10px;
    }

    .left-column,
    .right-column {
        flex: 1;
        margin: 0;
    }

    .rocket-btn {
        margin-top: 25px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        padding: 8px 25px;
        font-size: 14px;
    }

    .right-column {
        order: -1;
    }

    .container.skills {
        font-size: 18px;
    }

    .left-column {
        flex: 1;
        padding: 10px;
    }

    .main-skills {
        flex: 1;
        padding: 15px 10px;
    }

    .main-cert {
        padding: 15px 10px;
    }

    .legend {
        margin-left: 0px;
    }

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 27px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        /**/
    }

    .main-nav {
        font-size: 20px;
    }

    .name-text {
        font-size: 36px;
    }

    .sub-text,
    .job-title {
        font-size: 15px;
        letter-spacing: -.8px;
        ;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        flex-direction: column;
        margin-top: -80px;
    }

    .left-column,
    .right-column {
        flex: 1;
        margin: 0;
    }

    .right-column {
        order: -1;
    }

    .left-column {
        padding: 20px;
    }

    .container.skills {
        flex-direction: row;
        width: 100%;
    }

    .left-skills,
    .right-skills {
        padding: 10px;
        margin: 0;
    }

    img {
        border-radius: 3px 3px 0px 0px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 440px) {
    .main-nav {
        font-size: 18px;
    }

    .name-text {
        font-size: 32px;
    }

    .sub-text,
    .job-title {
        font-size: 12px;
        letter-spacing: -.31px;
    }

    .skills li,
    .main-cert li,
    .copyright-text {
        font-size: 14px;
    }

    .sub-details {
        font-size: 12px;
    }

    .svg-whatsapp,
    .svg-github,
    .svg-facebook {
        width: 26px;
    }
}