body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    height: 100vh;
    margin: 0;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
}

p {
    font-size: 12px
}

nav {
    margin-bottom: 40px;
}

.main-nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    /* Occupy full width */
    ;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    /* Align to the right */
}

.main-nav li {
    margin-right: 10px;
}

.main-nav .last {
    padding-right: 25px;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    align-items: center;
    display: flex;
    border-radius: 3px;
    max-width: 750px;
    background-color: #f3f1f1;
    box-shadow: -3px 5px 0px 0px rgb(44, 44, 44);
    /* Retro-style shadow */
}

.container.skills {
    margin-top: 25px;
    width: 750px;
}

.skills {
   margin-left: 0px;
   margin-right: 0px;
}

.skills li {
    list-style-type: none;
}

.left-column {
    flex: 1;
    padding-top: 0px;
    padding-left: 20px;
    margin-right: 20px;
}

.left-skills {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 1;
    padding: 0px;
}

.right-skills {
    flex: 1;
    padding: 0px;
}

img {
    align-self: flex-end;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 0px 3px 3px 0px;
}

.rocket-btn {
    display: inline-block;
    padding: 12px 20px;
    padding-right: 32px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

.rocket-btn::before {
    content: "\1F680";
    /* Unicode rocket character */
    font-size: 24px;
    margin-right: 0px;
    display: inline-block;
    transform: rotate(-45deg);
}

.rocket-btn:hover {
    background-color: #297fb8;
}

.skills-title {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {

    /* Styles for screens up to 768px width */
    body {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        /* Adjust font size for smaller screens */
    }

    .container {
        flex-direction: column;
        margin-top: 10px;
        /* Change to a column layout for smaller screens */
    }

    .left-column,
    .right-column {
        flex: 1;
        /* Take full width on smaller screens */
        margin: 0;
        /* Remove margin for better spacing on smaller screens */
        padding: 10px;
        /* Add padding for better spacing on smaller screens */
    }

    .right-column {
        order: -1;
        /* Move the right column to the top */
    }

    nav {
        margin-bottom: 0;
    }

    .main-nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        /* Align to the right */
    }

    .container.skills {
        flex-direction: row;
        width: 100%;
    }

    .left-skills {
        padding: 10px;
        margin: 0;
    }

    .right-skills {
        padding: 10px;
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px width (typical phone sizes) */

    body {
        font-size: 16px;
        /* Adjust font size for smaller screens */
    }

    .container {
        flex-direction: column;
        text-align: center;
        /* Change to a column layout for smaller screens */

    }

    .container.skills {
        text-align: start;
        /* Change to a column layout for smaller screens */

    }

    .left-column,
    .right-column {
        flex: 1;
        /* Take full width on smaller screens */
        margin: 0;
        /* Remove margin for better spacing on smaller screens */
        padding: 10px;
        /* Add padding for better spacing on smaller screens */
    }

    .rocket-btn {
        padding: 12px 20px;
        /* Adjust button padding for smaller screens */
        font-size: 14px;
        /* Adjust button font size for smaller screens */
        padding-right: 32px;
    }

    .right-column {
        order: -1;
        /* Move the right column to the top */
    }

    nav {
        margin-bottom: 0;
    }

    .container.skills {
        font-size: 18px;
    }

}