html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e4ecfa;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    margin: 0;
}

nav {
    font-size: 20px;
    padding-top: 20px;
    height: 40px;
    display: flex;
    gap: 10px;
    list-style: none;
    background-color: #010101;
    color: #fff;
    justify-content: center;
}

.home {
    border-radius: 3px 3px 0px 0px;
    padding: 0px 12px;
    background-color: #e4ecfa;
}

.other a {
    text-decoration: none;
    color: #fff;
}

.home a {
    text-decoration: none;
    color: #010101;
    font-weight: 600;
}

main {
    padding: 20px 40px;
    flex: 1;
    /* Allow main content to grow and take remaining space */
}

.job-title {
    font-size: 12px;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.highlight-skills {
    cursor: pointer;
    color: white;
    line-height: 1.8;
    padding: 0 5px;
    border-radius: 3px;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
}

p {
    font-size: 12px
}

.sub-text {
    font-size: 16px;
}

header {
    width: 100%;
}

.container-main {
    gap: 10px;
    height: auto;
    max-width: 1000px;
    justify-content: center;
    display: flex;
}

.profile-container {
    display: flex;
}

.profile-image {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    border-radius: 20px 20px 20px 20px;
}

.text-container {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 25px;
    border-radius: 20px 20px 20px 20px;
}

.container-skills {
    gap: 10px;
    max-width: 1000px;
    align-items: baseline;
    display: flex;
    margin-top: 10px;

}

.main-skills {
    max-width: 210px;
    min-width: 210px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
}

.main-skills li {
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
}

.legend {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.legend li {
    margin-right: 12px;
}

.legend-icon {
    align-items: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.container-cert {
    gap: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 16px;
}

.main-cert,
.main-edu,
.main-ach {
    min-width: 466px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
}

.contact-container {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    justify-content: space-between;
    /* Space items evenly */
}

.images-container {
    display: flex;
    gap: 5px;
}

.git-img,
.fb-img {
    width: 28px;
}

.oj-img {
    width: 28px;
    text-align: center;
    line-height: 2.05;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.social-links {
    text-decoration: none;
}

.rocket-btn {
    display: inline-block;
    padding: 8px 24px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: #ff6666;
    color: #fff;
    border-radius: .25rem;
    position: relative;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #dd5454;
    transition: background-color 0.5s;
    margin-right: auto;
}

.rocket-btn:hover {
    background-color: #dd5454;
}

.skills-title {
    font-size: 21px;
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
    color: white;
    background-color: #010101;
    text-align: center;
    width: 100%;
}

.copyright-text {
    font-size: 18px;
}

.bullet-icon {
    align-items: center;
    margin-left: 3px;
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-right: 10px;
    box-shadow: -3px 0px 0px 0px rgb(63, 63, 63);
}

.black {
    background-color: #000000;
    /* Example color for Superior level */
}

.superior {
    background-color: #ff6666;
    /* Example color for Superior level */
}

.advanced {
    background-color: #339966;
    /* Example color for Advanced level */
}

.intermediate {
    background-color: #3366cc;
    /* Example color for Intermediate level */
}

.learning {
    background-color: #ffcc00;
    /* Example color for Learning level */
}

@media screen and (max-width: 810px) {
    .container-main {
        padding: 0px 20px;
    }

    .profile-image {
        max-width: 200px;
        max-height: 250px;
        object-fit: cover;
    }

    .container-skills {
        padding: 0px 20px;
    }

    .main-skills {
        max-width: 160px;
        min-width: 160px;
    }

    .main-cert,
    .main-edu,
    .main-ach {
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
    }
}

@media screen and (max-width: 724px) {
    .container-main {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        max-width: 250px;
        max-height: 250px;
        width: auto;
        border-radius: 20px 20px 20px 20px;
    }

    .text-container {
        width: 100% max-width: none;
        justify-content: center;

    }

    .container-skills {
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
    }

}