html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    margin: 0;
}

main {
    flex: 1;
    /* Allow main content to grow and take remaining space */
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.highlight-skills {
    cursor: pointer;
    background-color: #535353;
    color: white;
    line-height: 1.8;
    padding: 0 5px;
    border-radius: 3px;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
}

p {
    font-size: 12px
}

header {
    width: 100%;
}

nav {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 40px;
    list-style: none;
    background-color: #333;
    color: #fff;
    justify-content: center;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    align-items: center;
    display: flex;
    border-radius: 3px;
    max-width: 750px;
    background-color: #f3f1f1;
    box-shadow: -3px 5px 0px 0px rgb(44, 44, 44);
}

.container-skills {
    align-items: center;
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
    max-width: 750px;
    background-color: #f3f1f1;
    box-shadow: -3px 5px 0px 0px rgb(44, 44, 44);
}

.container-cert {
    align-items: center;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    letter-spacing: -.1px;
    margin-top: 20px;
    border-radius: 3px;
    max-width: 750px;
    background-color: #f3f1f1;
    box-shadow: -3px 5px 0px 0px rgb(44, 44, 44);
}


.container.skills {
    margin-top: 20px;
    width: 750px;
}

.skills {
    margin-left: 0;
    margin-right: 0;
}

.skills li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
}

.left-column {
    flex: 1;
    padding: 20px;
}

.main-skills {
    flex: 1;
    padding: 20px;
}

.main-cert {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 1;
}

.contact-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Space items evenly */
}

.images-container {
    display: flex;
    gap: 10px;
}

img {
    align-self: flex-end;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 0px 3px 3px 0px;
}

.git-img,
.fb-img {
    width: 32px;
}

.oj-img {
    width: 32px;
    text-align: center;
    line-height: 2.15;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.social-links {
    text-decoration: none;
}

.rocket-btn {
    display: inline-block;
    padding: 12px 20px;
    letter-spacing: 1.4px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: .25rem;
    position: relative;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #12496e;
    transition: background-color 0.2s;
    margin-right: auto;
}

.rocket-btn:hover {
    background-color: #297fb8;
}

.skills-title {
    font-size: 21px;
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
    margin-bottom: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

.copyright-text {
    font-size: 18px;
}

.legend {
    padding-bottom: 10px;
    margin-left: 10px;
}

.legend-icon {
    align-items: center;
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.bullet-icon {
    align-items: center;
    margin-left: 3px;
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-right: 10px;
    box-shadow: -3px 0px 0px 0px rgb(63, 63, 63);
}

.black {
    background-color: #000000;
    /* Example color for Superior level */
}

.superior {
    background-color: #ff6666;
    /* Example color for Superior level */
}

.advanced {
    background-color: #339966;
    /* Example color for Advanced level */
}

.intermediate {
    background-color: #3366cc;
    /* Example color for Intermediate level */
}

.learning {
    background-color: #ffcc00;
    /* Example color for Learning level */
}


@media only screen and (max-width: 768px) {

    /* Styles for screens up to 768px width */
    body {
        font-size: 18px;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .copyright-text {
        font-size: 16px;
    }

    footer {
        margin-top: 20px;
    }

    .container {
        flex-direction: column;
        margin-top: 10px;
        /* Change to a column layout for smaller screens */
    }

    .left-column,
    .right-column {
        flex: 1;
        /* Take full width on smaller screens */
        margin: 0;
    }

    .right-column {
        order: -1;
        /* Move the right column to the top */
    }

    .left-column {
        padding: 20px;
    }

    nav {
        margin-bottom: 0;
    }

    .container.skills {
        flex-direction: row;
        width: 100%;
    }

    .left-skills {
        padding: 10px;
        margin: 0;
    }

    .right-skills {
        padding: 10px;
        margin: 0;
    }

    img {
        border-radius: 3px 3px 0px 0px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px width (typical phone sizes) */

    body {
        font-size: 16px;
    }

    .copyright-text {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        /* Change to a column layout for smaller screens */

    }

    .contact-container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: -10px;
    }

    .left-column,
    .right-column {
        flex: 1;
        margin: 0;
    }

    .rocket-btn {
        margin-top: 25px;
        left: 50%;
        right: 50%;
        transform: translate( -50%, -50%);
        padding: 12px 20px;
        font-size: 14px;
    }

    .right-column {
        order: -1;
        /* Move the right column to the top */
    }

    nav {
        margin-bottom: 0;
    }

    .container.skills {
        font-size: 18px;
    }

    .left-column {
        flex: 1;
        padding: 10px;
    }

    .main-skills {
        flex: 1;
        padding: 15px 10px;
    }

    .main-cert {
        padding: 15px 10px;
    }
    

}